.nodered/flows.json
[{"id":"163368e530ad0ae7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"297785dc36d45c08","type":"ui_tab","name":"Statistik","icon":"insert_chart","disabled":false,"hidden":false},{"id":"1cfcc7e6bbee7001","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0aa6c8df3d438eed","type":"ui_group","name":"Standard","tab":"297785dc36d45c08","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e99c32347784b1f4","type":"prismapro-client","name":"Default","host":"http://192.168.1.181:8080","simulation":false},{"id":"4d297355af535ae9","type":"prismaProCalibrationSetup","z":"163368e530ad0ae7","name":"Calibration Setup","dwellTime":"32","calibrationMixture":"[{\"atomic_masses\":[28,14,29],\"symbol\":\"N2\",\"concentration\":77.729},{\"atomic_masses\":[32,16,34,33],\"symbol\":\"O2\",\"concentration\":20.793609},{\"atomic_masses\":[40,20,36,38,18],\"symbol\":\"Ar\",\"concentration\":0.934},{\"atomic_masses\":[44,28,16,12,45],\"symbol\":\"CO2\",\"concentration\":0.0407},{\"atomic_masses\":[20,22,21],\"symbol\":\"Ne\",\"concentration\":0.001818},{\"atomic_masses\":[4],\"symbol\":\"He\",\"concentration\":0.000524},{\"atomic_masses\":[16,15,14,13,12],\"symbol\":\"CH4\",\"concentration\":0.00018},{\"atomic_masses\":[2,1],\"symbol\":\"H2\",\"concentration\":0.000055},{\"atomic_masses\":[84,86,82,83,42],\"symbol\":\"Kr\",\"concentration\":0.000114},{\"atomic_masses\":[18,17,16,20,19],\"symbol\":\"H2O\",\"concentration\":0.5}]","calibrationMixtureType":"json","x":670,"y":80,"wires":[["1c128170fdad50ae"]]},{"id":"cb41e42ba19ec181","type":"doCalibrationMeasurement","z":"163368e530ad0ae7","name":"Do Calibration Measurement","x":700,"y":160,"wires":[["c77d2aa28578d709"]]},{"id":"eea8b35abecf2c1c","type":"comment","z":"163368e530ad0ae7","name":"Calibration Measurement(s)","info":"The calibration measurement(s) contain(s):\n- running calibration measurement(s)\n  --> used to get information about the elements of the examined gas\n        --> information contains data for:               \n            - sensitivities (the size of the measured peaks under current conditions (e.g.: air pressure, age of the filament, age of the sev, ... ))\n            - proportions (size ration between the peaks (on different amus) of an element) (always the ration of the smaller peaks to the biggest peak, biggest peak has a value of 1)\n\n!\n- the group of nodes can be duplicated and run after each other for every needed calibration measurement (just the respective input has to be updated)\n(alternatively the calibration measurement node can be overwritten for every needed calibration measurement,, wheather if makes sense depends on how often the calibration measurement should be run and the general clarity (overview) wanted :D)","x":420,"y":20,"wires":[]},{"id":"e3c58eaaa2a6fcc4","type":"comment","z":"163368e530ad0ae7","name":"Test Gas Measurement","info":"The test gas measurement contains:\n- running test gas measurement\n  --> used to get concentration of the different elements of the examined gas\n\n!\n- the \"Do Test Gas Measurement\" Node checks and runs automatically if a new complete scan is ready","x":400,"y":580,"wires":[]},{"id":"ee9770e7c9c89c80","type":"prismaProTestGasSetup","z":"163368e530ad0ae7","name":"Test Gas Setup","dwellTime":"32","testGasMixture":"[{\"atomic_masses\":[28],\"symbol\":\"N2\"},{\"atomic_masses\":[32],\"symbol\":\"O2\"},{\"atomic_masses\":[40],\"symbol\":\"Ar\"},{\"atomic_masses\":[44],\"symbol\":\"CO2\"},{\"atomic_masses\":[20],\"symbol\":\"Ne\"},{\"atomic_masses\":[4],\"symbol\":\"He\"},{\"atomic_masses\":[16],\"symbol\":\"CH4\"},{\"atomic_masses\":[2],\"symbol\":\"H2\"},{\"atomic_masses\":[84],\"symbol\":\"Kr\"},{\"atomic_masses\":[18],\"symbol\":\"H2O\"}]","referenceElement":"N2","testGasMixtureType":"json","x":640,"y":700,"wires":[["4ba11e74fe631fa7"]]},{"id":"d551f766b9e7427f","type":"doTestGasMeasurement","z":"163368e530ad0ae7","name":"Do Test Gas Measurement","dwellTime":"32","testGasMixture":"[{\"atomic_masses\":[28],\"symbol\":\"N2\"},{\"atomic_masses\":[32],\"symbol\":\"O2\"},{\"atomic_masses\":[40],\"symbol\":\"Ar\"},{\"atomic_masses\":[44],\"symbol\":\"CO2\"},{\"atomic_masses\":[20],\"symbol\":\"Ne\"},{\"atomic_masses\":[4],\"symbol\":\"He\"},{\"atomic_masses\":[16],\"symbol\":\"CH4\"},{\"atomic_masses\":[2],\"symbol\":\"H2\"},{\"atomic_masses\":[84],\"symbol\":\"Kr\"},{\"atomic_masses\":[18],\"symbol\":\"H2O\"}]","referenceElement":"N2","testGasMixtureType":"json","x":680,"y":780,"wires":[["c5635786627c7a7d"]]},{"id":"761026ded74cc345","type":"inject","z":"163368e530ad0ae7","name":"Start Test Gas Measurement","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":640,"wires":[["5f5f06d5f4cf4307"]]},{"id":"7b30a273c4f0b805","type":"inject","z":"163368e530ad0ae7","name":"Start Calibration Measurement","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":60,"wires":[["4d297355af535ae9"]]},{"id":"4ba11e74fe631fa7","type":"prismaProTestGasClient","z":"163368e530ad0ae7","name":"","host":"","simulation":false,"x":670,"y":740,"wires":[["d551f766b9e7427f"]]},{"id":"746214498b7714ba","type":"inject","z":"163368e530ad0ae7","name":"stopMeasurement","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"stopMeasurement","payloadType":"str","x":130,"y":760,"wires":[["4ba11e74fe631fa7"]]},{"id":"c5635786627c7a7d","type":"function","z":"163368e530ad0ae7","name":"Format data for chart","func":"const data = msg.payload.concentrations;\nmsg.payload = [{\n    \"series\": [ \"Concentrations\"],\n    \"data\": data.map(obj => obj.total_concentration * 100),\n    \"labels\": data.map(obj => obj.symbol)\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":820,"wires":[["d5aad770e2ba2a21"]]},{"id":"d5aad770e2ba2a21","type":"ui_chart","z":"163368e530ad0ae7","name":"chart - Concentration of Test Gas","group":"0aa6c8df3d438eed","order":0,"width":"6","height":"6","label":"chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"(Concentration is measured...)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":700,"y":860,"wires":[["c17c438127bf4c94"]]},{"id":"5f5f06d5f4cf4307","type":"file in","z":"163368e530ad0ae7","name":"Read calibration.json","filename":"calibration.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":660,"y":660,"wires":[["ee9770e7c9c89c80"]]},{"id":"1c128170fdad50ae","type":"prismaProCalibrationClient","z":"163368e530ad0ae7","name":"","host":"","simulation":false,"x":700,"y":120,"wires":[["cb41e42ba19ec181"]]},{"id":"c77d2aa28578d709","type":"saveCalibrationResult","z":"163368e530ad0ae7","name":"Save Calibration Result","file":"./calibration.json","x":690,"y":200,"wires":[["c3cbd6be95b64b60"]]},{"id":"e5eb67dc69deae34","type":"http in","z":"163368e530ad0ae7","name":"","url":"/calibrationMeasurement","method":"post","upload":false,"swaggerDoc":"","x":160,"y":100,"wires":[["87bd35d8f6d0d2aa"]]},{"id":"c3cbd6be95b64b60","type":"http response","z":"163368e530ad0ae7","name":"","statusCode":"","headers":{},"x":630,"y":240,"wires":[]},{"id":"87bd35d8f6d0d2aa","type":"function","z":"163368e530ad0ae7","name":"Parse Post Data","func":"msg.calibrationMeasurement = {};\nmsg.calibrationMeasurement.config = {\n    dwellTime: msg.payload.dwellTime,\n    calibrationScanRuns: msg.payload.calibrationScanRuns,\n    calibrationMixture: msg.payload.calibrationMixture,\n    recipe: msg.payload.recipe,\n    client: {\n        host: msg.payload.client.host,\n        simulation: msg.payload.client.simulation\n    },\n    filePath: msg.payload.filePath\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":100,"wires":[["4d297355af535ae9"]]},{"id":"6391ecc8f9be2241","type":"http in","z":"163368e530ad0ae7","name":"","url":"/testGasMeasurement","method":"post","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["197a66f00a58b792"]]},{"id":"197a66f00a58b792","type":"function","z":"163368e530ad0ae7","name":"Parse Post Data","func":"msg.testGasMeasurement = {};\nmsg.testGasMeasurement.config = {\n    dwellTime: msg.payload.dwellTime,\n    referenceElementSymbol: msg.payload.referenceElementSymbol,\n    testGasMixture: msg.payload.testGasMixture,\n    recipe: msg.payload.recipe,\n    client: {\n        host: msg.payload.client.host,\n        simulation: msg.payload.client.simulation\n    },\n    calibrationResult: {\n        proportions: msg.payload.proportions,\n        sensitivities: msg.payload.sensitivities\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":680,"wires":[["5f5f06d5f4cf4307"]]},{"id":"fd0abc8a6981cbc8","type":"http in","z":"163368e530ad0ae7","name":"","url":"","method":"get","upload":false,"swaggerDoc":"","x":70,"y":800,"wires":[["4a4e00643126b2bf"]]},{"id":"4a4e00643126b2bf","type":"function","z":"163368e530ad0ae7","name":"Parse Post Data","func":"msg.payload = \"stopMeasurement\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":800,"wires":[["4ba11e74fe631fa7"]]},{"id":"c17c438127bf4c94","type":"http response","z":"163368e530ad0ae7","name":"","statusCode":"","headers":{},"x":610,"y":900,"wires":[]}]