.nodered/flows.json
[{"id":"163368e530ad0ae7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"e99c32347784b1f4","type":"prismapro-client","name":"Default","host":"http://192.168.1.181:8080","simulation":false},{"id":"297785dc36d45c08","type":"ui_tab","name":"Statistik","icon":"insert_chart","disabled":false,"hidden":false},{"id":"1cfcc7e6bbee7001","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD.MM.YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"0aa6c8df3d438eed","type":"ui_group","name":"Standard","tab":"297785dc36d45c08","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3e08756dcaa38a3b","type":"doCalibrationMeasurement","z":"163368e530ad0ae7","name":"Do Calibration Measurement","client":"e99c32347784b1f4","calibrationScanRuns":"25","dwellTime":"256","calibrationMixture":"[{\"atomic_masses\":[28,14,29],\"symbol\":\"N2\",\"concentration\":77.729},{\"atomic_masses\":[32,16],\"symbol\":\"O2\",\"concentration\":20.793609},{\"atomic_masses\":[40,20],\"symbol\":\"Ar\",\"concentration\":0.934}]","calibrationMixtureType":"json","referenceElement":"N2","x":660,"y":360,"wires":[["c3fbef8c6e1a4b0a"]]},{"id":"2b9d537e3a898684","type":"doTestGasMeasurement","z":"163368e530ad0ae7","name":"Do Test Gas Measurement","client":"e99c32347784b1f4","dwellTime":"128","testGasMixture":"[{\"atomic_masses\":[28,14,29],\"symbol\":\"N2\"},{\"atomic_masses\":[32,16],\"symbol\":\"O2\"},{\"atomic_masses\":[40,20],\"symbol\":\"Ar\"}]","testGasMixtureType":"json","x":660,"y":460,"wires":[["ad3764a29a3a618f"]]},{"id":"53b964a35ad09ff8","type":"inject","z":"163368e530ad0ae7","name":"Starte Erstellung calibration.json","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":280,"wires":[["2a62ed3558ee4dab"]]},{"id":"c44136d67529ccd4","type":"inject","z":"163368e530ad0ae7","name":"Starte Testgasmessung","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":460,"wires":[["080839e8c8e548db"]]},{"id":"080839e8c8e548db","type":"file in","z":"163368e530ad0ae7","name":"Read calibration.json","filename":"calibration.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":400,"y":460,"wires":[["2b9d537e3a898684"]]},{"id":"c3fbef8c6e1a4b0a","type":"file","z":"163368e530ad0ae7","name":"Write new calibration.json","filename":"calibration.json","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":930,"y":360,"wires":[[]]},{"id":"2a62ed3558ee4dab","type":"file","z":"163368e530ad0ae7","name":"Create new calibration.json","filename":"calibration.json","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":480,"y":280,"wires":[[]]},{"id":"cbeb18b91d009a6b","type":"file in","z":"163368e530ad0ae7","name":"Read calibration.json","filename":"calibration.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":400,"y":360,"wires":[["3e08756dcaa38a3b"]]},{"id":"c2e33d384a042463","type":"inject","z":"163368e530ad0ae7","name":"Starte Kalibriermessung","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":360,"wires":[["cbeb18b91d009a6b"]]},{"id":"a9fe4146ed7b40da","type":"ui_chart","z":"163368e530ad0ae7","name":"Concentration of Test Gas","group":"0aa6c8df3d438eed","order":0,"width":"6","height":"6","label":"chart","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"(Concentration is measured...)","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1110,"y":460,"wires":[[]]},{"id":"ad3764a29a3a618f","type":"function","z":"163368e530ad0ae7","name":"adjust data","func":"const data = msg.payload.concentrations;\nmsg.payload = [{\n    \"series\": [ \"Concentrations\"],\n    \"data\": data.map(obj => obj.total_concentration * 100),\n    \"labels\": data.map(obj => obj.symbol)\n}]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":460,"wires":[["a9fe4146ed7b40da"]]}]